<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eng. Computação</title>

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/a1d05124c7.js" crossorigin="anonymous"></script>
    <!-- MDB DEPENDENCIES -->
    <link rel="stylesheet" href="../node_modules/mdbootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/mdbootstrap/css/mdb.lite.css">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark indigo darken-3 custom-color m-0">
        <a class="navbar-brand" href="#"><img src="../public/images/logo.png" height="50"
                alt="Logo Instituto Mauá de Tecnologia"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#btn-toggle"
            aria-controls="btn-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-toggle">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="teachers.html">Professores</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="feedback.html">Feedbacks
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="game.html">Jogo Teste</a>
               </li>
            </ul>

            <ul class="navbar-nav ml-auto nav-flex-icons nav-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                </li>
            </ul>
            <form class="form-inline">
                <div class="md-form md-outline py-0">
                    <input type="text" id="form1" class="form-control">
                    <label for="form1">Credenciais</label>
                </div>
                <button class="btn btn-outline-primary">Sign In</button>
            </form>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- BREADCRUMB -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb darken-1 mb-0">
            <li class="breadcrumb-item"><a class="white-text" href="index.html">Home</a></li>
            <li class="breadcrumb-item active"><a class="white-text" href="teachers.html">Feedback</a></li>
        </ol>
    </nav>
    <!-- END BREADCRUMB -->
    <!-- MAIN CONTENT -->
    <main class="content-light main-content">
        <div class="container-fluid p-0">
            <div class="jumbotron card card-image blue-gradient">
                <div class="text-white text-center py-5 px-4">
                    <div>
                        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Ajude-nos a te ajudar</strong>
                        </h2>
                        <p class="mx-5 mb-5">Ná mauá voce encontra os mais Incriveis projetos de melhoria. Portanto é
                            essencial a sua opinião.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-4">
            <h2 class="section-title">Formulario para Feedback</h2>
            <div class="container-fluid p-3">
                <form class="text-center border border-light p-5" action="#!">
                    <p class="h4 mb-4">Feedback</p>
                    <div class="row">
                        <div class="col-6">
                            <!-- Nome -->
                            <div class="md-form md-outline">
                                <input type="text" id="user-name" class="form-control">
                                <label for="user-name">Nome</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Email -->
                            <div class="md-form md-outline">
                                <input type="text" id="user-email" class="form-control">
                                <label for="user-email">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <select class="browser-default custom-select">
                                <option selected>Aluno Matriculado ?</option>
                                <option value="1">Sim</option>
                                <option value="2">Não</option>
                              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="md-form md-outline">
                                <textarea type="text" id="user-comment" class="form-control"></textarea>
                                <label for="user-comment">Feedback</label>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary my-4" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="page-footer font-small pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h4>Campus São Caetano do Sul

                        Praça Mauá 1 São Caetano do Sul - SP

                        Campus de São Paulo

                        R. Pedro de Toledo, 1071</h4>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Nossos Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Associação de Ex Alunos</a>
                        </li>
                        <li>
                            <a href="#!">Avaliações</a>
                        </li>
                        <li>
                            <a href="#!">Universidades Parceiras</a>
                        </li>
                        <li>
                            <a href="#!">Centro de Esporte e Atividades Fisicas</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Fale Conosco</h5>
                    <a href="#"><span class="badge badge-pill badge-danger">0800 019 3100</span></a>
                    <a href="https://maua.br/index/chat?_ga=1.106652550.468963231.1464200408"><span
                            class="badge badge-pill badge-danger">CHAT ONLINE</span></a>
                    <a href="https://api.whatsapp.com/send?phone=5508000193100"><span
                            class="badge badge-pill badge-success"><i class="fab fa-whatsapp"></i> Whatsapp</span></a>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://maua.br/"> Instituto Mauá de Tecnologia</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- SCRIPTS MDB -->
    <script src="../node_modules/mdbootstrap/js/jquery.js"></script>
    <script src="../node_modules/mdbootstrap/js/popper.js"></script>
    <script src="../node_modules/mdbootstrap/js/bootstrap.js"></script>
    <script src="../node_modules/mdbootstrap/js/mdb.js"></script>
</body>

</html>