<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eng. Computação</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header class="main-header">
        <img height="60" src="../public/images/logo-maua.png" alt="Imagem Logo Da Mauá">
        <footer class="breadcrumb-footer">
            <ul class="breadcrumb">
                <li><a href="#">Maua</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Eng. Computação</a></li>
            </ul>
        </footer>
    </header>
    <main>
        <section>
            <div class="item-left">
                <h1>Engenharia de <strong>Computação</strong></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro recusandae excepturi, debitis et, atque corrupti est voluptatem in ipsam adipisci nobis magni quae dolorem quis, ea suscipit aliquid sequi inventore?</p>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex modi quia hic. Eveniet, laborum, harum tempore suscipit quae nihil facilis, eos ipsam sint unde veniam voluptate cumque exercitationem distinctio enim.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque neque aliquid cum cumque magnam accusantium et veritatis labore enim rerum eius ut quasi distinctio nesciunt dolor in eum, architecto ducimus.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem saepe voluptatibus nesciunt non! Impedit tempore necessitatibus molestias magni natus eos iste incidunt. Id incidunt corporis possimus accusamus porro quas aut.
                </span>
            </div>
            <div class="item-right text-right">
                <img src="https://maua.br/img/upload/092018/engenharia-computacao-14103023.png" alt="Engenharia da Computação">
            </div>
        </section>
        <section>
            <div class="text-centered">
                <h2>Esperamos a sua inscricao <button class="btn btn-outline-primary">Participar</button></h2>
            </div>
        </section>            
    </main>
    <footer class="main-footer text-centered">
        <h2>Instituto Mauá de Tecnologia &copy; 2119</h2>
    </footer>
</body>
</html>