/* NAVBAR */

/* END NAVBAR */

/* BREAD CRUMB */

.breadcrumb {
    border-radius: 0 !important;
}

light-font .breadcrumb-item+.breadcrumb-item::before {
    color: blueviolet;
}

.light-font .breadcrumb-item.active {
    color: blueviolet;
}

/* END BREAD CRUMB */

/* CAROUSEL */

.jumbotron-custom {
    background: url("../images/Campus_foto_aérea.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

/* END CAROUSEL */