/* ROOT */
body{
    margin: 0;
}
main{
    margin-top: 0px;
}
/* HEADER */
header.main-header{
    padding: 0.5rem;
    background: #eef;
}
header.breadcrumb-header{
    background-color: #eeeee1;
}
/* ARTICLE */
article{
    padding: 1rem;
}
/* BREADCRUMB */
ul.breadcrumb {
    margin: 0;
    padding: 10px 16px;
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
}
ul.breadcrumb li a {
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    text-decoration: underline;
}
/* UTILITIES */
