<nav class="navbar navbar-expand-lg navbar-dark indigo darken-3 custom-color m-0">
    <a class="navbar-brand" href="#"><img src="../../assets/img/logo.png" height="50"
            alt="Logo Instituto Mauá de Tecnologia"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#btn-toggle"
        aria-controls="btn-toggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="btn-toggle">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="teachers.html">Professores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="feedback.html">Feedbacks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="game.html">Jogo Teste</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons nav-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
            </li>
        </ul>
        <form class="form-inline">
            <div class="md-form md-outline py-0">
                <input type="text" id="form1" class="form-control">
                <label for="form1">Credenciais</label>
            </div>
            <button class="btn btn-outline-primary">Sign In</button>
        </form>
    </div>
</nav>