<footer class="page-footer font-small pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h4>Campus São Caetano do Sul

            Praça Mauá 1 São Caetano do Sul - SP

            Campus de São Paulo

            R. Pedro de Toledo, 1071</h4>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Nossos Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Associação de Ex Alunos</a>
            </li>
            <li>
              <a href="#!">Avaliações</a>
            </li>
            <li>
              <a href="#!">Universidades Parceiras</a>
            </li>
            <li>
              <a href="#!">Centro de Esporte e Atividades Fisicas</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Fale Conosco</h5>
          <a href="#"><span class="badge badge-pill badge-danger">0800 019 3100</span></a>
          <a href="https://maua.br/index/chat?_ga=1.106652550.468963231.1464200408"><span
              class="badge badge-pill badge-danger">CHAT ONLINE</span></a>
          <a href="https://api.whatsapp.com/send?phone=5508000193100"><span class="badge badge-pill badge-success"><i
                class="fab fa-whatsapp"></i> Whatsapp</span></a>

        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://maua.br/"> Instituto Mauá de Tecnologia</a>
    </div>
    <!-- Copyright -->

  </footer>