<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eng. Computação</title>

  <!-- FONTAWESOME -->
  <script src="https://kit.fontawesome.com/a1d05124c7.js" crossorigin="anonymous"></script>
  <!-- MDB DEPENDENCIES -->

  <!-- CUSTOM CSS -->
</head>

<body>
  <!-- NAVBAR -->
  <app-navbar-component></app-navbar-component>
  <!-- END NAVBAR -->
  <!-- BREADCRUMB -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb darken-1 mb-0">
      <li class="breadcrumb-item active"><a class="white-text" href="index.html">Home</a></li>
    </ol>
  </nav>
  <!-- END BREADCRUMB -->
  <!-- MAIN CONTENT -->
  <main class="content-light main-content">
    <div class="container-fluid p-0">
      <div class="jumbotron card card-image jumbotron-custom darken-3">
        <div class="text-white text-center py-5 px-4">
          <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Conheça já os cursos
                Disponíveis</strong></h2>
            <p class="mx-5 mb-5">Ná mauá voce encontra o melhor da tecnologia e do apoio ao aluno para
              juntos formarmos o profissional mais completo do mercado
            </p>
            <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> Vamos lá</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p-4">
      <div class="row justify-content-center">
        <div class="col-6">
          <app-form-course (courseInsertion)='insertCard($event)'></app-form-course>
        </div>
      </div>
    </div>
    <div class="container-fluid p-4">
      <div class="row">
        <div class="col-12">
          <app-card-component [courses]="cursos"></app-card-component>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
  
  <app-footer-component></app-footer-component>
  <!-- Footer -->
  <!-- SCRIPTS MDB -->
  <script src="../../node_modules/mdbootstrap/js/jquery.js"></script>
  <script src="../../node_modules/mdbootstrap/js/popper.js"></script>
  <script src="../../node_modules/mdbootstrap/js/bootstrap.js"></script>
  <script src="../../node_modules/mdbootstrap/js/mdb.js"></script>
</body>

</html>